* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow-y: hidden;
    background-image: url('../images/background.png');
    padding: 5px 5px 5px 5px;
    font: 13px Helvetica, Arial;
}

.canvas {
    display: inline;
    float: left;
    /* width: 55vw;
    height: 90vh; */
}

.word {
    width: 820px;
}

canvas {
    background: white;
    margin: 0 auto;
    width: 820px;
    /* width: 100%;
    max-width: 57vw; */
    height: 610px;
    /* width: 100%;
    height: 100%; */
    border: 5px solid black;
}

.chat {
    max-width: 400px;
    width: calc(80% - 805px);
    background: white;
    padding: 0 0 0 0;
    overflow-y: auto;
    height: 100vh;
    display: inline-block;

    /* width: 40vw; */
}

#inputChat {
    height: 55px;
    display: inline-block;
}

.form-chat {
    padding: 0 0 0 0;
    width: calc(80% - 810px);

}

form {
    padding: 3px;
    position: fixed;
    bottom: 0;
}

form button {
    display: inline-block;
    width: 95%;
    height: 55px;

}
.btn{
        border-radius: 0px;
}

#messages {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
.color{
    padding-left: 80px;
}
.current-color {

    border: .5px solid black;
    width: 50px;
    height: 50px;
    background: black;
    display: inline-block;
}

.color-board, .color-cell, .brush, .eraser, .xsmall, .small, .medium, .large, .clear {
    display: inline-block;
}

.color-board {

    width: 275px;
}

.color-cell {
    width: 25px;
    height: 25px;
}

#clear {
    height: 50px;
    width: 50px;
}

#xsmall, #small, #medium, #large {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}

#small {
    width: 15px;
    height: 15px;
}

#medium {
    width: 20px;
    height: 20px;
}

#large {
    width: 25px;
    height: 25px;
}

.word {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    background: white;
    height: 40px;
}

h1 {
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-size: 40px;
    text-align: center;
    color: white;
}

.title-s {
    color: red;
}

.title-k {
    color: orange;
}

.title-r {
    color: yellow;
}

.title-t {
    color: green;
}

.title-b {
    color: #38EDE2;
}

.title-l {
    color: #25EEB8;
}

.title-e {
    color: purple;
}

.title-e {
    color: pink;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.leaderboard {

    border: #F9AE56 6px solid;
    background: white;
    height: 50vh;
}

.leaderboard ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leaderboard li {
    padding: 5px 10px;
}

.leaderboard li:nth-child(odd) {
    background: #eee;
}

.tool {

    display: inline;
}
